#inicio-page {
    text-decoration: none;

}

body {
    background-image: url(images/guitar+background.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.container-violao, .container2-violao, footer{
    transform: translateY(300px);
}

@font-face {
    font-family: lemon;
    src: url(fonts/Roboto-Black.ttf);
}

.h2 {
    font-family: lemon;
    transform: translate(-50%, 280px);
    margin-left: 50%;
    text-align: center;
    background: #005480ff;
    width: 300px;
    border-radius: 20px;
}

.hover-aulas {
    text-decoration-thickness: 3px;
    text-decoration: underline;
}

.container-violao {
    height: 115vh;
    background: #005480ff;
    width: 90%;
    overflow: hidden;
    transform: translate(-50%, 300px);
    margin-left: 50%;
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 100%;
    grid-template-areas: "imgg imgg pp";
    border-radius: 20px;
}

.container-violao .img img{
    width:95%;
    border-radius: 20px;
    transform: translateY(-50%);
    margin-top: 40%;
    grid-area: "imgg";
}

.img{
    margin-top: 5vh;
}

.img h2{
    text-align: center;
}

.p{
    left: 5%;
    margin-top: 5vh;
    width: 90%;
    grid-area: "pp";
}


.container2-violao {
    margin: 0 auto;
    display: flex;
    height: 100vh;
    width: 90%;
    margin-top: 20px;

}


.container2-violao img {
    border-radius: 50px;
}

footer{
    transform: translateY(360px);
}
